{{#> tpts/partials/base}}
    <section>
        <h1>Vedtaket ditt om tiltakspenger er endret</h1>

        <p>
            Nav har vurdert saken din på nytt. Vi har omgjort vedtaket slik at du ikke har rett til
            tiltakspenger {{#if barnetillegg}}og barnetillegg {{/if}}fra og med {{vedtaksperiode.fraOgMed}}
            til og med {{vedtaksperiode.tilOgMed}}.
        </p>

        {{#if valgtHjemmelTekst}}
            <p>
                {{#each valgtHjemmelTekst}}
                    <!-- Vi støtter bare en hjemmel foreløpig -->
                    {{#eq @index 0}}
                        {{breaklines this}}
                    {{/eq}}
                {{/each}}
            </p>
        {{/if}}

        <p>
            Når et vedtak bygger på et uriktig faktisk grunnlag, kan Nav omgjøre vedtaket til ugunst for deg.
            Dette gjelder selv om det ikke var din skyld at vedtaket ble feil.
        </p>

        <p>
            Dette kommer frem av forvaltningsloven § 35 første ledd bokstav c.
        </p>

        {{#if tilleggstekst}}
            <h2>Slik har vi vurdert saken din</h2>
            <!-- Om man ønsker linebreaks mellom tilleggstekstene (fordi bruker kan ha limt inn flere) må de skilles med '\n\n'-->
            <p>{{breaklines tilleggstekst}}</p>
        {{/if}}
    </section>
{{/tpts/partials/base}}
