<div>
    <p>
        Med hilsen
    </p>

    <div class="personalia">
        <p>Saksbehandler: {{saksbehandlerNavn}}</p>
        <p>Beslutter: {{beslutterNavn}}</p>
        <p>{{kontor}}</p>
    </div>

</div>