<div class="signatur">
    <p>
        Med vennlig hilsen
    </p>
    <p>Beslutter: {{beslutterNavn}}</p>
    <p class="right-align">Saksbehandler: {{saksbehandlerNavn}}</p>
    <p>{{kontor}}</p>

</div>