<div>
    <p>
        Med hilsen
    </p>

    <div class="personalia">
        Hurrgurr <p>{{beslutterNavn}}</p>
        <p>{{kontor}}</p>
    </div>

    <div class="right-align">
        <p>Saksbehandler: {{saksbehandlerNavn}}</p>
    </div>
</div>