<div class="signatur">
    <p>
        Med vennlig hilsen
    </p>
    <div class="flex-container">
    <p>Beslutter: {{beslutterNavn}}</p>
    <p>Saksbehandler: {{saksbehandlerNavn}}</p>
    </div>
    <p>{{kontor}}</p>

</div>