{{#> tpts/partials/base}}
    {{> @partial-block}}

    <div class="info">
        <h2 class="heading-og-brodtekst-separator">Du må sende meldekort</h2>
        <p>
            Du må sende inn meldekort hver 14. dag. Logg inn på nav.no for å se når du skal sende neste meldekort og hvilken periode meldekortet gjelder for.
        </p>

        <p>Vi trenger å vite om du har deltatt på tiltaket som avtalt, og om du har hatt fravær. Du må derfor oppgi på meldekortet hvilke dager du har deltatt på tiltaket og hvilke dager du har hatt fravær.</p>
        <p>Du skal krysse av for fravær på det fjerde spørsmålet "har du hatt ferie eller fravær" i meldekortet ditt de dagene:</p>
        <ul>
            <li>Du ikke gjennomfører den planlagte aktiviteten i tiltaket ditt.</li>
            <li>Du har lønnet arbeid og oppfølgingen av arbeidsforholdet er en del av tiltaksgjennomføringen din.</li>
            <li>Du har lønnet arbeid eller av andre årsaker ikke kan delta hele den avtalte tiden i tiltaket ditt.</li>
        </ul>

        <p>Hvis du, ditt barn eller barnepasser blir syk, og du ikke kan delta på tiltaket på grunn av det, må du krysse av for sykdom på det tredje spørsmålet "har du vært forhindret fra å ta arbeid, delta på tiltak" i meldekortet ditt</p>

        <p>Du kan lese mer om utfylling av meldekort på <a title="Informasjon om meldekort">www.nav.no/send-meldekort-tiltakspenger#send-meldekort</a>.</p>

    </div>

    <div class="info">
        <h2 class="heading-og-brodtekst-separator">Når får du pengene?</h2>
        <p>
            Når du har sendt meldekortet på nav.no, blir pengene vanligvis utbetalt til kontoen din etter to til tre virkedager. Hvis du sender meldekort i posten, kan det ta noe lengre tid.
            Dersom Nav trenger mer informasjon fra deg, for eksempel dokumentasjon ved sykefravær, kan det ta noe lenger tid før pengene blir utbetalt. Du skal ikke betale skatt av tiltakspengene.
        </p>

        <p>Du kan se alle utbetalingene dine på <a title="Min side">www.nav.no/minside</a>. Der kan du også endre kontonummer. Hvis du har reservert deg mot digital kommunikasjon fra det offentlige, får du utbetalingsmelding i posten.</p>
        <p>Du kan også melde fra om endring i kontonummer via post. </p>
        <p>Les mer om utbetaling på <a title="Informasjon om utbetalinger">www.nav.no/utbetalinger</a>. </p>
    </div>

    <div class="info">
        <h2 class="heading-og-brodtekst-separator">Du har rett til å klage</h2>
        <p>
            Hvis du mener vedtaket er feil, kan du klage innen 6 uker fra den datoen vedtaket har kommet fram til deg.
            Dette følger av arbeidsmarkedsloven § 17. Du finner skjema og informasjon på <a title="Informasjon om klage">www.nav.no/klage</a>.
        </p>

        <p>Nav kan veilede deg på telefon om hvordan du sender en klage. Nav- kontoret ditt kan også hjelpe deg med å skrive en klage.</p>

        <p>
            Hvis du får medhold i klagen, kan du få dekket vesentlige utgifter som har vært nødvendige for å få endret vedtaket, for eksempel hjelp fra advokat.
            Du kan ha krav på fri rettshjelp etter rettshjelploven. Du kan få mer informasjon om denne ordningen hos advokater, statsforvalteren, eller Nav
        </p>

        <p>Du kan lese om saksomkostninger i forvaltningsloven § 36.</p>
        <p>Hvis du sender klage i posten, må du signere klagen. </p>
        <p>Mer informasjon om klagerettigheter finner du på <a title="Informasjon om klagerettigeheter">www.nav.no/klagerettigheter</a>.</p>
    </div>

    <div class="info">
        <h2 class="heading-og-brodtekst-separator">Du må melde om endringer</h2>
        <p>Det er viktig å gi Nav riktige opplysninger. Dersom det skjer endringer som kan ha betydning for dine ytelser, må du straks melde fra til Nav.</p>

        <p>Du må melde fra til Nav hvis:</p>
        <ul>
            <li>Du ikke lenger deltar i tiltaket.</li>
            <li>Du får en annen pengestøtte.</li>
            <li>Du deltar i kommunens kvalifiseringsprogram eller introduksjonsprogram.</li>
            <li>Du bor på en institusjon med gratis opphold, mat og drikke når du deltar i et arbeidsmarkedstiltak.</li>
            <li>Du har andre opplysninger som kan bety noe for retten til tiltakspenger.</li>
        </ul>

        <p>Ta kontakt med oss hvis det har skjedd endringer som du er usikker på om du må melde fra om.</p>

        <p>
            Hvis du har fått utbetalt for mye fordi du ikke har meldt fra om endringer i din livssituasjon, må du vanligvis betale tilbake pengene.
            Det er derfor viktig at du selv følger med på utbetalinger fra Nav og melder fra om eventuelle feil.
        </p>

        <p>Hvis du flytter og endrer adresse kan du endre dette på <a title="Skattetaten - folkeregisteret">www.skatteetaten.no/person/folkeregister/</a>. </p>
    </div>

    <div class="info">
        <h2 class="heading-og-brodtekst-separator">Du har rett til innsyn</h2>
        <p>
            Du har rett til å se dokumentene i saken din. Dette følger av forvaltningsloven § 18.
            Du kan kontakte saksbehandler på <a title="Nav">www.nav.no</a> eller på telefon om du vil se dokumentene i saken din.
            Du kan lese mer om innsynsretten på <a title="Informasjon om innsynsrett">www.nav.no/personvernerklaering</a>.
        </p>
        <h3 class="heading-og-brodtekst-separator">Du har rettigheter knyttet til personopplysningene dine</h3>
        <p>Du finner informasjon om hvordan Nav behandler personopplysningene dine, og hvilke rettigheter du har, på <a title="Informasjon om behandling av personopplysninger og rettigheter">www.nav.no/personvernerklaering#hvordan</a>.</p>

        <h3 class="heading-og-brodtekst-separator">Du har rett til å få veiledning fra Nav</h3>
        <p>Vi har plikt til å veilede deg om dine rettigheter og plikter i saken din, både før, under og etter saksbehandlingen. Dette følger av forvaltningsloven § 11.</p>
    </div>

    <div class="info">
        <h2 class="heading-og-brodtekst-separator">Har du spørsmål? </h2>
        <p>Du finner mer informasjon om tiltakspenger på <a title="Informasjon om tiltakspenger">www.nav.no/tiltakspenger</a>.</p>
        <p>På <a title="Kontaktside">www.nav.no/kontakt</a> kan du chatte eller skrive til oss.</p>
        <p>Hvis du ikke finner svar på nav.no kan du ringe din saksbehandler på telefon 413 09 804/ 417 65 468, hverdager 09.00-15.00.</p>
    </div>
    {{/tpts/partials/base}}