{{#> tpts/partials/base}}
    {{> @partial-block}}

    <div class="info">
        <h2 class="heading-og-brodtekst-separator">Du må sende meldekort</h2>
        <p>
            Du må sende inn meldekort hver 14. Dag. Logg inn på nav.no for å se når du skal sende neste meldekort og hvilken periode meldekortet gjelder for.
        </p>

        <p>Vi trenger å vite om du har deltatt på tiltaket som avtalt, og om du har fravær. Du må derfor rapportere på meldekortet hvilke dager du har deltatt på tiltaket og hvilke dager du har hatt fravær.</p>
        <p>Du skal krysse av for fravær på det fjerde spørsmålet "har du hatt ferie eller fravær" i meldekortet ditt de dagene: </p>
        <ul>
            <li>du ikke gjennomfører den planlagte aktiviteten i tiltaket ditt. </li>
            <li>du har lønnet arbeid og oppfølgingen av arbeidsforholdet er en del av tiltaksgjennomføringen din. </li>
            <li>du har lønnet arbeid eller av andre årsaker ikke kan delta hele den avtalte tiden i tiltaket ditt. </li>
            <li>du, ditt barn eller barnepasser blir syk, og du ikke kan delta på tiltaket på grunn av det, må du krysse av for sykdom på det tredje spørsmålet "har du vært forhindret fra å ta arbeid, delta på tiltak..." i meldekortet ditt. </li>
        </ul>

        <p>Du kan lese mer om utfylling av meldekort på <a>nav.no/send-meldekort-tiltakspenger</a>.</p>

    </div>

    <div class="info">
        <h2 class="heading-og-brodtekst-separator">Når får du pengene?</h2>
        <p>
            Når du sender meldekort på nav.no, blir pengene vanligvis utbetalt til kontoen din etter to til tre virkedager etter innsendelse. Hvis du sender meldekort i posten, kan det ta noe lengre tid.
            Dersom NAV trenger mer informasjon fra deg, for eksempel dokumentasjon ved sykefravær, kan det ta noe lenger tid før pengene blir utbetalt. Du skal ikke betale skatt av tiltakspengene.
        </p>

        <p>Du kan se alle utbetalingene dine på <a>nav.no/minside</a>. Der kan du også endre kontonummer. Hvis du har reservert deg mot digital kommunikasjon fra det offentlige, får du utbetalingsmelding i posten. </p>
        <p>Du kan også melde fra om endring i kontonummer via post. </p>
        <p>Les mer om utbetaling på <a>www.nav.no/utbetalinger</a>. </p>
    </div>

    <div class="info">
        <h2 class="heading-og-brodtekst-separator">Du har rett til å klage</h2>
        <p>
            Hvis du mener vedtaket er feil, kan du klage innen 6 uker fra den datoen vedtaket har kommet fram til deg.
            Dette følger av Lov om arbeidsmarkedstjenester §17. Du finner skjema og informasjon på <a>nav.no/klage</a>.
        </p>

        <p>NAV kan veilede deg på telefon om hvordan du sender en klage. NAV-kontoret ditt kan også hjelpe deg med å skrive en klage.</p>

        <p>
            Hvis du får medhold i klagen, kan du få dekket vesentlige utgifter som har vært nødvendige for å få endret vedtaket, for eksempel hjelp fra advokat.
            Du kan ha krav på fri rettshjelp etter rettshjelploven. Du kan få mer informasjon om denne ordningen hos advokater, statsforvalteren, eller NAV.
        </p>

        <p>Du kan lese om saksomkostninger i forvaltningsloven § 36.</p>
        <p>Hvis du sender klage i posten, må du signere klagen. </p>
        <p>Mer informasjon om klagerettigheter finner du på <a>nav.no/klagerettigheter</a>.</p>
    </div>

    <div class="info">
        <h2 class="heading-og-brodtekst-separator">Du må melde om endringer</h2>
        <p>Det er viktig å gi NAV korrekte opplysninger. Dersom det skjer endringer som kan ha betydning for dine ytelser, må du straks melde fra til NAV.</p>

        <p>Du må melde fra til NAV hvis:</p>
        <ul>
            <li>Du avbryter tiltaket du deltar i</li>
            <li>Du får en annen livsoppholdsytelse</li>
            <li>Du deltar i kommunens kvalifiseringsprogram eller introduksjonsprogram</li>
            <li>Du oppholder deg i en institusjon med fri kost og losji</li>
            <li>Du har andre opplysninger som kan bety noe for retten til tiltakspenger</li>
        </ul>

        <p>Ta kontakt med oss hvis det har skjedd endringer som du er usikker på om du må melde fra om.</p>

        <p>
            Hvis du har fått utbetalt for mye fordi du ikke har meldt fra om at inntekten eller livssituasjonen din har endret seg, må du vanligvis betale tilbake pengene.
            Det er derfor viktig at du selv følger med på utbetalinger fra NAV og melder fra om eventuelle feil.
        </p>

        <p>Hvis du flytter og endrer adresse så endrer du dette på skatteetaten.no/folkeregisteret. </p>
    </div>

    <div class="info">
        <h2 class="heading-og-brodtekst-separator">Du har rett til innsyn</h2>
        <p>
            Du har rett til å se dokumentene i saken din. Dette følger av forvaltningsloven § 18.
            Du kan kontakte saksbehandler på <a>nav.no</a> eller på telefon om du vil se dokumentene i saken din. Du kan lese mer om innsynsretten på <a>nav.no/personvernerklaering</a>.
        </p>
        <h3 class="heading-og-brodtekst-separator">Du har rettigheter knyttet til personopplysningene dine</h3>
        <p>Du finner informasjon om hvordan NAV behandler personopplysningene dine, og hvilke rettigheter du har, på <a>nav.no/personvernerklaering#hvordan</a>.</p>

        <h3 class="heading-og-brodtekst-separator">Du har rett til å få veiledning fra NAV</h3>
        <p>Vi har plikt til å veilede deg om dine rettigheter og plikter i saken din, både før, under og etter saksbehandlingen. Dette følger av forvaltningsloven § 11.</p>
    </div>

    <div class="info">
        <h2 class="heading-og-brodtekst-separator">Har du spørsmål? </h2>
        <p>Du finner mer informasjon om tiltakspenger på <a>nav.no</a></p>
        <p>På <a>nav.no/kontakt</a> kan du chatte eller skrive til oss.</p>
        <p>Hvis du ikke finner svar på nav.no kan du ringe din saksbehandler på telefon 413 09 804, hverdager 09.00-15.00.</p>
    </div>

    <div class="info">
        <h2 class="heading-og-brodtekst-separator">Viktig informasjon</h2>
        <p>
            NAV jobber med å lage en ny løsning for behandling av søknader om tiltakspenger.
            I den forbindelse har NAV bestemt for at noen få søkere som søker om tiltakspenger, skal behandles i ny saksbehandlingsløsning. Du er en av de søkerne som er valgt ut.
        </p>
    </div>

(Her skal det komme mer informasjon. Men det kommer an på om vi går i prod før PAW eller ikke. Venter med å implementere teksten før vi vet noe mer om dette, så vi ikke gjør mer arbeid enn nødvendig.)

{{/tpts/partials/hilsen}}