{{#> tpts/partials/base}}
    {{> @partial-block}}


    <div class="info">
        <h3>Når får du pengene?</h3>
        <p>
            Hver 14. dag må du rapportere til NAV hvilke dager du har deltatt på tiltaket og hvilke dager du har hatt fravær.
            Pengene blir utbetalt 2-3 virkedager etter at du har svart. Les mer om rapporteringen i vedlegget under.
        </p>
    </div>

    <div class="info">
        <p>
            Dersom NAV trenger mer informasjon fra deg, for eksempel dokumentasjon ved sykefravær, kan det ta noe lenger tid før pengene blir utbetalt.
            Du skal ikke betale skatt av tiltakspengene.
        </p>
    </div>

    <div class="info">
        <p>
            Les mer om utbetaling på <a>www.nav.no/utbetalinger</a>
        </p>
    </div>

    <div class="info">
        <h3>Du har rett til å klage</h3>
        <p>
            Hvis du mener vedtaket er feil, kan du klage innen seks uker fra den datoen du mottok vedtaket. Klagen skal være skriftlig.
            Du finner skjema og informasjon på <a>https://www.nav.no/klage#tiltakspenger</a>.
        </p>
    </div>

    <div class="info">
        <h3>Du må betale tilbake hvis du får for mye utbetalt</h3>
        <p>
            Det er viktig å gi NAV korrekte opplysninger. Dersom det skjer endringer som kan ha betydning for dine ytelser, må du straks melde fra til NAV. Ta kontakt med NAV på telefon xx (saksbehandler)
        </p>
        <p>
            Hvis du får utbetalt penger du ikke har rett på, må du betale disse tilbake til NAV.
        </p>
    </div>

    <div class="info">
        <h3>Du har rett til innsyn</h3>
        <p>
            Du har rett til å se dokumentene i saken din. Ta kontakt med NAV på telefon xx (saksbehandler)
        </p>
    </div>

    <div class="info">
        <h3>Personvernerklæring</h3>
        <p>
            Les mer om hvordan NAV behandler personopplysninger på <a>https://www.nav.no/personvernerklaering#hvordan</a>.
        </p>
    </div>

    <div class="info">
        <p>
            Vedtaket er gjort etter Lov om arbeidsmarkedstjenester § 13 første ledd og tiltakspengeforskriften §§ 2,3 og 6.
        </p>
    </div>



    <div class="info">
        <br/>
        <h2>Viktig informasjon</h2>
        <p>
            Du må si ifra hvis du ikke deltar på tiltaket ditt som planlagt eller hvis du får lønn. Du får mindre utbetalt hvis du har fravær eller lønnet arbeid. Du har kun rett på tiltakspenger og barnetillegg de dagene du deltar som avtalt i arbeidsmarkedstiltaket ditt. Hvis du slutter i arbeidsmarkedstiltaket, har du ikke rett på tiltakspenger.
        </p>
        <p>
            Du har som hovedregel ikke rett på tiltakspenger hvis du mottar lønn som en del av arbeidsmarkedstiltaket ditt. Du har heller ikke rett på tiltakspenger hvis du mottar annen pengestøtte.
        </p>
        <p>
            Si ifra om fravær og lønnet arbeid på meldekortet ditt. Les mer informasjon på <a>www.nav.no/send-meldekort-tiltakspenger</a>.
        </p>
    </div>


{{/tpts/partials/hilsen}}