{{#> tpts/partials/base}}
{{> @partial-block}}
<section>
    <h2>Du må sende meldekort</h2>
    <p>
        Du må sende inn meldekort hver 14. dag. Logg inn på nav.no for å se når du skal sende neste meldekort og hvilken periode meldekortet gjelder for.
    </p>

    <p>Vi trenger å vite om du har deltatt på tiltaket som avtalt, og om du har hatt fravær. Du må derfor oppgi på meldekortet hvilke dager du har deltatt på tiltaket og hvilke dager du har hatt fravær.</p>
    
    <p>Du skal krysse av for fravær på det fjerde spørsmålet "har du hatt ferie eller fravær" i meldekortet ditt de dagene:</p>
    <ul>
        <li>Du ikke gjennomfører den planlagte aktiviteten i tiltaket ditt.</li>
        <li>Du har lønnet arbeid og oppfølgingen av arbeidsforholdet er en del av tiltaksgjennomføringen din.</li>
        <li>Du har lønnet arbeid eller av andre årsaker ikke kan delta hele den avtalte tiden i tiltaket ditt.</li>
    </ul>

    <p>Hvis du, ditt barn eller barnepasser blir syk, og du ikke kan delta på tiltaket på grunn av det, må du krysse av for sykdom på det tredje spørsmålet "har du vært forhindret fra å ta arbeid, delta på tiltak" i meldekortet ditt.</p>

    <p>Du kan lese mer om utfylling av meldekort på <a title="Informasjon om meldekort" href="www.nav.no/send-meldekort-tiltakspenger#send-meldekort">www.nav.no/send-meldekort-tiltakspenger#send-meldekort</a>.</p>
</section>

<section>
    <h2>Når får du pengene?</h2>

    <p>
        Når du har sendt meldekortet på nav.no, blir pengene vanligvis utbetalt til kontoen din etter to til tre virkedager. Hvis du sender meldekort i posten, kan det ta noe lengre tid.
        Dersom Nav trenger mer informasjon fra deg, for eksempel dokumentasjon ved sykefravær, kan det ta noe lenger tid før pengene blir utbetalt. Du skal ikke betale skatt av tiltakspengene.
    </p>

    <p>Du kan se alle utbetalingene dine på <a title="Min side" href="www.nav.no/minside">www.nav.no/minside</a>. Der kan du også endre kontonummer. Hvis du har reservert deg mot digital kommunikasjon fra det offentlige, får du utbetalingsmelding i posten.</p>
    <p>Du kan også melde fra om endring i kontonummer via post. </p>
    <p>Les mer om utbetaling på <a title="Informasjon om utbetalinger" href="www.nav.no/utbetalinger">www.nav.no/utbetalinger</a>. </p>
</section>

<section>
    <h2>Du må melde om endringer</h2>

    <p>Det er viktig å gi Nav riktige opplysninger. Dersom det skjer endringer som kan ha betydning for dine ytelser, må du straks melde fra til Nav.</p>

    <p>Du må melde fra til Nav hvis:</p>
    <ul>
        <li>Du ikke lenger deltar i tiltaket.</li>
        <li>Du får en annen pengestøtte.</li>
        <li>Du deltar i kommunens kvalifiseringsprogram eller introduksjonsprogram.</li>
        <li>Du bor på en institusjon med gratis opphold, mat og drikke når du deltar i et arbeidsmarkedstiltak.</li>
        <li>Du har andre opplysninger som kan bety noe for retten til tiltakspenger.</li>
    </ul>

    <p>Ta kontakt med oss hvis det har skjedd endringer som du er usikker på om du må melde fra om.</p>

    <p>
        Hvis du har fått utbetalt for mye fordi du ikke har meldt fra om endringer i din livssituasjon, må du vanligvis betale tilbake pengene.
        Det er derfor viktig at du selv følger med på utbetalinger fra Nav og melder fra om eventuelle feil.
    </p>

    <p>Hvis du flytter og endrer adresse kan du endre dette på <a title="Skattetaten - folkeregisteret" href="www.skatteetaten.no/person/folkeregister">www.skatteetaten.no/person/folkeregister</a>. </p>
</section>
{{/tpts/partials/base}}