{{#> tpts/partials/base}}
    {{> @partial-block}}

    <div class="info">
        <h2>Vedlegg til melding om vedtak om tiltakspenger.</h2>
        <p>
            Du kan ikke oppholde deg utenfor Norge i mer enn 90 dager til sammen i denne stønadsperioden.
            Opphold i utlandet må dokumenteres med norske stempel i pass eller boardingpass.
            Du må melde fra til NAV om planlagt ut- og innreisedato før du reiser til utlandet.
        </p>
        <p>
            Bryter du disse reglene kan stønaden din opphøre. Du kan også få krav om å betale tilbake penger.
        </p>
        <p>
            Du kan lese mer om dine rettigheter og plikter nedenfor.
        </p>
    </div>

    <div class="info">
        <h3>Du må melde fra om endringer</h3>
        <p>
            Dersom det skjer endringer som kan ha betydning for stønaden du får utbetalt, må du straks melde fra til NAV. Du finner mer informasjon på <a>www.nav.no/rettogplikt</a>.
        </p>
    </div>

    <div class="info">
        <h3>Sjekk utbetalingene dine</h3>
        <p>
            Sjekk alle utbetalingene du har mottatt på <a>www.nav.no/dittnav</a>. Her kan du også endre kontonummeret ditt.
        </p>
    </div>

{{/tpts/partials/base}}
