<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Søknad om tiltakspenger"/>
    {{> tpts/partials/style }}
    <title>SØKNAD</title>
</head>
<body>
